.button2 {
 display: flex;
 height: 3em;
 width: 100px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
}

.button2 > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

.button2:hover > svg {
 font-size: 1.2em;
 transform: translateX(-5px);
}

.button2:hover {
 box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.062), -6px -6px 20px rgba(0, 0, 0, 0.041);
 transform: translateY(-2px);
 background: #fff;

}
@media screen and (max-width: 768px) {
    .test{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 80% !important;
        margin:40px auto !important;
    }
  }