.profileContainer{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.profile{
    display: flex;
    gap: 30px;
    padding: 0 40px;
    margin-top: 80px;
}
.leftSide{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-radius: 20px;
    padding: 20px 20px 36px 20px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.contLeft{
    width: 25%;
    height: 1%;
    display: flex;
    flex-direction: column;
}
.leftSide img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
.leftSide p{
    color: rgba(0, 0, 0, 0.308);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.leftSide button{
    width: 180px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(85, 135, 209);
    cursor: pointer;
    color: white;
    border: 0;
    padding:10px 8px;
    font-size: 15px;
}
.leftSide button:hover{
    background-color: rgb(77, 121, 185);
}
.actionNav a {
    text-decoration: none;
    color:  black;
    margin: 0 0 0 100px;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
    opacity: .6;
    transition: .8s ease;
}
.ProfilePublications{
    margin: 60px 0 0 60px;
    width: 130%;
}
.userPub{
    border: 2px solid rgba(128, 128, 128, 0.178);
    border-radius: 20px;
    padding:10px 25px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.pbCnt{
     display: flex;
    justify-content: space-between;   
}
.userPub img{
    width: 200px;
    height: 200px;
}
.lft p{
    margin-top: 40px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.822);
    font-weight: 500    ;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.delEdit{
    display: flex;
    gap: 10px;
}
.buttonDel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 1px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.buttonDel:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.buttonDel:hover .bin-bottom {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}
.bin-top {
  transform-origin: bottom right;
}
.buttonDel:hover .bin-top {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%) rotate(160deg);
}
.buttonDel::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.buttonDel:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(35px);
  transition-duration: 0.3s;
}
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(100, 163, 221);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.cmtLeft{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.cmtLeft img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
p b{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
b small{
  display: flex;
  gap: 5px;
  font-size: 11px;
  color: gray;
}
.cmtLeft p{
  font-size: 12px;
  padding:10px 20px 20px 10px;
  border-radius: 20px;
  background-color: rgb(223, 223, 223);
  width: 250px;
  position: relative;
  bottom: 12px;
  word-break: break-all;
}
.EditPrf{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1), -1px -1px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 20px 36px 20px;
  margin-top: 13px;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.EditPrf input{
padding: 15px;
border-radius: 14px;
border: 0;
outline: 0;
background-color: whitesmoke;
}
.EditPrf button{
  padding: 10px;
  margin-top: 10px;
  width: 60%;
  cursor: pointer;
  background-color: rgb(77, 121, 185);
  color: white;
  border-radius: 8px;
  font-size: 1.005rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 0;
}
.EditPrf button:hover{
  scale: 1.01;
  background-color: rgb(61, 99, 156);
  color: white;
}

.svgimg:hover{
  color: rgba(0, 0, 0, 0.37);
  scale: 1.05;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding: 0 20px;
  }

  .contLeft,
  .ProfilePublications {
    width: 100%;
    margin: 20px 0;
  }

  .userPub {
    flex-direction: column;
  }

  .userPub img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}