.cmtContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
.pub {
  width: 25%;
  height: fit-content;
  background-color: white;
  padding: 10px 50px 0px 50px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2), -3px -3px 10px rgba(0, 0, 0, 0.2);
}
.main2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.send{
  position: relative;
}

.cmtLeft{
  display: flex;
  gap: 10px;
  
}
.cmt img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cmt{
  z-index: 1;
}
p b{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
b small{
  font-size: 11px;
  color: gray;
}
.cmt p{
  font-size: 12px;
  padding:10px 20px 20px 10px;
  border-radius: 20px;
  background-color: rgb(223, 223, 223);
  width: 250px;
  position: relative;
  word-break: break-all;
  bottom: 12px;
}

.cmtForm textarea{
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  outline:0;
  border: 1px rgba(0, 0, 0, 0.247) solid;
}
.cmtForm{
  display: flex;
  margin: 10px 0;
}
.cmtForm button{
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  border: 0;
}
.cmtForm button:hover{
  scale: 1.10;
  color: rgb(71, 134, 155);
}

@media screen and (max-width: 768px) {
  .pub {
    width: 80%;
    padding: 10px 20px;
  }

  .cmtForm textarea {
    width: 100%;
  }

  .cmt p {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .pub {
    width: 95%;
    padding: 10px;
  }
}